* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: grid;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

header,
main {
    grid-column: 2;
}

header {
    grid-row: 1;
}

main {
    grid-row: 2;
}

/* DASHBOARD PANEL */
.side-panel {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: lightskyblue;
    color: white;
    grid-column: 1;
    grid-row: 1/3;

}

.side-nav {
    align-self: start;
    
}

.side-panel ul {
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.single-side-nav {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    padding: 10px;
}

.settings {
    align-self: start;
}

.single-setting {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    padding: 10px;
}

.dash-heading {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    align-items: center;
    height: 50px;
}

/* ICONS */
#dash-icon {
    height: 50px;
    width: 50px;
}

.side-panel-icon {
    height: 30px;
    width: 30px;
}

.project-icon {
    height: 25px;
    width: 25px;
}

/* AVATARS */
.main-avatar {
    height: 80px;
    width: 80px;
}

.secondary-avatar {
    height: 50px;
    width: 50px;
}

/* TOP NAVIGATION */
.top-nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.search-bar {
    margin-bottom: 30px;
    align-items: center;
    gap: 12px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.search {
    width: 500px;
    border-radius: 15px;
    padding: 5px;
    background-color: lightgray;
}

.greeting {
    display: flex;
    gap: 20px;
    align-items: center;
}

.notification {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.button-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.button-nav button {
    background-color: lightskyblue;
    color: white;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
}

.nav-right {
    padding-right: 50px;
}

/* PROJECT SECTION */
.projects {
    background-color: lightgrey;
    padding-top: 40px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.project-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-content: start;
}

.singular-project {
    width: 400px;
    min-height: 200px;
    background-color: white;
    border-radius: 15px;
    padding-top: 20px;
    border-left: solid lightsalmon 8px;
    padding: 15px;
}

.project-icon-row {
    padding: 30px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    justify-content: right;
}

.project-heading {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 5px;
}

.project-wrapper h3 {
  grid-column: 1 / -1;         
  margin-bottom: 1.2rem;
  padding-left: 5px;
}

.outer-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ANNOUNCEMENTS */
.announcements {
    padding-top: 10px;
}

.announcement-text {
    background-color: white;
    height: 550px;
    width: 300px;
    border-radius: 15px;
    border-bottom: 5px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 25px;

}

.announcement-heading {
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 5px;
}

.single-announcement {
    padding: 15px;
}

/* TRENDING */
.trending-section {
    background-color: white;
    border-radius: 15px;
    height: 300px;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.single-trend {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}