* {
    box-sizing: border-box;
    margin: 0;
}

/* DASHBOARD */

.side-panel {
    height: 100vh;
    width: 20vw;
    display: grid;
    grid-template-rows: auto;
    background-color:lightskyblue;
    color: white;
}

.side-panel ul {
    list-style: none;
    font-size: 20px;
}

/* ICONS */

