* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.page-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

header, main {
    grid-column: 2;
}

/* DASHBOARD PANEL */
.side-panel {
    height: 100vh;
    width: 20vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: lightskyblue;
    color: white;
    grid-column: 1;

}

.side-nav {
    align-self: start;
}

.side-panel ul {
    list-style: none;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.single-side-nav {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
}

.settings {
    align-self: start;
}

.single-setting {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
}

.dash-heading {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 12px;
    align-items: center;
    height: 50px;
    margin-bottom: 200px;
}

/* ICONS */
#dash-icon {
    height: 50px;
    width: 50px;
}

.side-panel-icon {
    height: 30px;
    width: 30px;
}

.project-icon {
    height: 25px;
    width: 25px;
}

/* AVATARS */
.main-avatar {
    height: 80px;
    width: 80px;
}

.secondary-avatar {
    height: 50px;
    width: 50px;
}

/* TOP NAVIGATION */
.top-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.search-bar {}

.greeting {}

.notification {}

.button-nav ul {
    list-style: none;
}

.button-nav button {
    background-color: lightskyblue;
    color: white;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
}

/* PROJECT SECTION */
.projects {}

.project-wrapper {}

.singular-project {}

.project-heading {}